<% if @selection.created_at %>

<!-- Simple form for edit/update -->
	<%= simple_form_for @selection, url: selection_path(selection.name), html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f| %>
		<%= f.error_notification %>
		<%= f.input :name, inline_label: 'bla' %>
		<%= f.input :category %>
		<%= f.input :description, :as => :text %>
		<%= f.input :cost %>
		<%= f.input :price %>
		<%= f.input :image_url, :as => :text%>
		<div class="form-center">
			<%= link_to "Back", :back %>
			<%= f.button :submit, method: :PUT %>
		</div>
	<% end %>
<% else %>

	<!-- Simple form for new/create -->
	<%= simple_form_for @selection, url: selections_path, html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f| %>
		<%= f.error_notification %>
		<%= f.input :name, inline_label: 'bla' %>
		<%= f.input :category %>
		<%= f.input :description, :as => :text %>
		<%= f.input :cost %>
		<%= f.input :price %>
		<%= f.input :image_url, :as => :text%>
		<div class="form-center">
			<%= link_to "Back", :back %>
			<%= f.button :submit, method: :POST %>
		</div>
	<% end %>

<% end %>