<h1 id="main-header">Menu</h1>

<%= link_to('New Selection', new_selection_path, :class => 'btn btn-xs btn-info') %>

<h3 class="course-header">Appetizers
	<span class="total-container">(Total: <%= @appetizers.count %>)</span>
</h3>	
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th class="th-text-align-center">Dish</th>
			<th class="th-text-align-center">Description</th>
			<th class="th-text-align-center">Image</th>
			<th class="th-text-align-center">Price</th>
		</tr>
	</thead>

	<% @appetizers.each do |appetizer| %>
	<tbody>
		<td>
			<%= appetizer.name %>
			<br>
			<div class="btn-group">
				<%= link_to('Edit', edit_selection_path(appetizer.name), :class => 'btn btn-xs btn-info') %>
				<%= link_to('Delete', selection_path(appetizer.name), :class => 'btn btn-xs btn-danger') %>
			</div>
		</td>
		<td><%= appetizer.description %></td>
		<td class="td-no-padding"><%= image_tag appetizer.image_url %></td>
		<td><%= number_to_currency(appetizer.price) %></td>
	</tbody>
	<% end %>
</table>

<hr>

<h3 class="course-header">Entrees
	<span class="total-container">(Total: <%= @entrees.count %>)</span>
</h3>	
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th class="th-text-align-center">Dish</th>
			<th class="th-text-align-center">Description</th>
			<th class="th-text-align-center">Image</th>
			<th class="th-text-align-center">Price</th>
		</tr>
	</thead>

	<% @entrees.each do |entree| %>
	<tbody>
		<td>
			<%= entree.name %>
			<br>
			<div class="btn-group">
				<%= link_to('Edit', edit_selection_path(entree.name), :class => 'btn btn-xs btn-info') %>
				<%= link_to('Delete', selection_path(entree.name), :class => 'btn btn-xs btn-danger') %>
			</div>
		</td>
		<td><%= entree.description %></td>
		<td class="td-no-padding"><%= image_tag entree.image_url %></td>
		<td><%= number_to_currency(entree.price) %></td>
	</tbody>
	<% end %>
</table>

<hr>

<h3 class="course-header">Desserts
	<span class="total-container">(Total: <%= @entrees.count %>)</span>
</h3>	
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th class="th-text-align-center">Dish</th>
			<th class="th-text-align-center">Description</th>
			<th class="th-text-align-center">Image</th>
			<th class="th-text-align-center">Price</th>
		</tr>
	</thead>

	<% @desserts.each do |dessert| %>
	<tbody>
		<td>
			<%= dessert.name %>
			<br>
			<div class="btn-group">
				<%= link_to('Edit', edit_selection_path(dessert.name), :class => 'btn btn-xs btn-info') %>
				<%= link_to('Delete', selection_path(dessert.name), :class => 'btn btn-xs btn-danger') %>
			</div>
		</td>
		<td><%= dessert.description %></td>
		<td class="td-no-padding"><%= image_tag dessert.image_url %></td>
		<td><%= number_to_currency(dessert.price) %></td>
	</tbody>
	<% end %>
</table>